body {
  font-family: Sans-Serif;
}
h1 {
  font-size: 40px;
  text-align: center;
}
p {
  text-align: center;
  font-style: italic;
}
}
section#social div,
section#resources div {
  min-height: 250px;
  margin-bottom: 15px;
}
section#personal div {
  background: lightblue;
  color: grey;
  font-size: 18px;
  img {
  width: 100%;
}